.idea
.venv
/.idea
/aq/.env
/build
.pytest_cache/
*__pycache__/*
*.py[cod]
*.so
*.spec
bin/
build/
develop-eggs/
rwdiaq.egg-info/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/.submodules/*
*.ipynb*